#canvas {
    height: 100vh;
    width: 56.25vh; /* 100/56.25 = 1.778 */
    background: pink;
    max-height: 177.78vw;
    max-width: 100vw; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1920px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

@media screen and (max-width: 1920px){
    img.bg {
        left: 50%;
        margin-left: -960px; }
}

.menu {
    z-index: 1;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.black_overlay{
    z-index: 15;
    display: none;
    position: absolute;
    top: 2.5vh;
    left: 2.5%;
    width: 95%;
    height: 95vh;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.40;
    filter: alpha(opacity=80);
}

.popup {
    z-index: 17;
    display: none;
    position: absolute;
    top: 25vh;
    left: 10%;
    width: 70%;
    height: 50vh;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;

    -webkit-border-image: url(assets/border.png) 30 30 round; /* Safari 3.1-5 */
    -o-border-image: url(assets/border.png) 30 30 round; /* Opera 11-12.1 */
    border-image: url(assets/border.png) 30 30 round;
}

.button {
    text-align: center;
    position: relative;
    width: 100%; /* IE 6.0 -.- */
}

#btn_two {
    float: left;
    width: 50px;
}
#btn_three {
    float: left;
    width: 50px;
}
#btn_four {
    float: left;
    width: 50px;
}

#btn_clear {
    float: left;
    width: 50px;
}
#btn_accept {
    float: left;
    width: 50px;
}

.clear {
    clear: both;
}

.button>span {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.rect_btn {
    width: 300px;
    height: auto;
}

.square_btn {
    width: 50px;
    height: auto;
}

.attempt {
    width: 230px;
    padding-left: 10px;
    padding-top: 10px;
    height: auto;
    border: 0;
    background: url(assets/attempt_bkg.jpg) center center black;
}

.timer {
    text-align: left;
    position: relative;
    width: 100%;
}

.timer>span {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100%;
}
